<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageRestore>
        <add key="enabled" value="True" />
        <add key="automatic" value="True" />
    </packageRestore>
    <packageSources>
        <add key="IllusionLibs nuget source" value="https://ci.appveyor.com/nuget/illusionlibs-onb4d47vm4qe" />
    </packageSources>
</configuration>